.div-button-a {
    display: block;
    height: 100%;
}
.div-button-hidden-txt {
    display: block;
    overflow: hidden;
    text-indent: 180%;
    white-space: nowrap;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#rikulo-template {
    background: url("http://rikulo.org/resource/img/template/title.png") repeat-x scroll 0 0 transparent;
}

#template-inner {
    margin: 0 auto;
    width: 960px;
}

#page-banner {
    height: 96px;
    margin-bottom: 44px;
}

#page-banner h1 {
    color: #F2F2E1;
    font-family: 'Oswald',sans-serif;
    font-size: 48px;
    padding-top: 16px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

#page-content {
    color: #0D0D0D;
    font-family: 'Asap',sans-serif;
}

#page-content {
    
}

#page-content h1 {
    font-size: 20px;
}

#page-content h2 {
    font-size: 20px;
}

#blog-content {
    width: 700px;
    margin-right: 20px;
    float: left;
}

#side-bar {
    float: left;
}

#page-content .column {
    float: left;
    margin: 0 40px 0 0;
    width: 400px;
}

#page-content p, #page-content a {
    font-size: 16px;
}

#page-content p {
    padding-top: 1px;
}

#page-content a {
    color: #914503;
}

#page-content a:hover {
    color: #D49B50;
}

#page-content ul.benefits {
    margin: 20px 0 0 25px;
}

#page-content .how li {
    margin-bottom: 4px;
}


#entry-content {
    line-height: 24px;
    padding-bottom: 60px;
}

#entry-content h1 {
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 12px;
}

#entry-content h2 {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 8px;
}

#entry-content h3 {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 8px;
}

#entry-content p {
    padding-bottom: 16px;
}

#entry-content img {
    padding-bottom: 4px;
}

#entry-content ul {
    padding-bottom: 4px;
    line-height: 24px;
}

#entry-content ul li {
    background: url("http://rikulo.org/resource/img/contribute/bullet.png") no-repeat scroll 3px 6px transparent;
    letter-spacing: 0.45px;
    list-style: none outside none;
    padding-left: 27px;
}

#entry-content .codehilite {
    margin-bottom: 12px;
    padding-left: 16px;
    background-color: white;
}

#categories-bar {
    width: 200px;
    float: left;
}

#categories-bar h2 {
    font-family: 'Oswald',sans-serif;
}

.active {
    font-weight: bold;
}

.tags {
    height: 24px;
    border-top: 1px solid #e0c6a2;
    border-bottom: 1px solid #e0c6a2;
    line-height: 20px;
}

.tag {
    font-size: 12px;
}

.article-title {
    color: #914503;
    font-size: 28px;
}

.author-date {
    font-size: 12px;
    padding-bottom: 15px;
}

.read-more {
    padding-bottom: 15px;
}

.hentry {
    padding-bottom: 5px;
}

.article-entry {
    padding-bottom: 24px;
}

.category-header {
    padding-bottom: 5px;
}

.category-menu-entry {
    padding-bottom: 3px;
}

.center-blog-image {
    display: block; 
    margin-right: auto;
    margin-left: auto;
}