{% extends "base.html" %}
{% block content %}        
<section id="content">

<ol id="post-list">
{% for article in articles_page.object_list %}        
        <li class="article-entry"><article class="hentry">    
                <header> <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}"><span class="article-title">{{ article.title }}</span></a></h1> </header>
                <div class="author-date" title="{{ article.date.strftime('%B %d, %Y') }}"> {{ article.date.strftime('%B %d, %Y') }} {% if article.author %} by <a href="{{ SITEURL }}/{{ article.author.url }}"><span class="author-date">{{ article.author }}</span></a>{% endif %}</div>
                <div class="entry-content"><p>{{ article.summary }}</p></div><!-- /.entry-content -->
                <footer class="post-info">
                <div class="read-more">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">Read more...</a>
                </div>
                <div class="tags">
                    {% for pagetag in article.tags %}
                        <a href="{{ SITEURL }}/{{ pagetag.url }}"><span class="tag {% if tag == pagetag %}active{% endif %}">{{ pagetag }}</span></a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
                </footer><!-- /.post-info -->
        </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
<p class="paginator">
    {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
            <a href="{{ SITEURL }}/{{ page_name }}.html">&laquo;&nbsp;Newer Posts</a>
        {% else %}
            <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&laquo;&nbsp;Newer Posts</a>
        {% endif %}
    {% endif %}
    <!--Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}-->
    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Older Posts&nbsp;&raquo;</a>
    {% endif %}
</p>
</section><!-- /#content -->
{% endblock content %}
